*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:10px;
    font-family: Roboto, sans-serif;
}
nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    padding:20px 48px;
}
.logo{
    font-family: 'Work Sans', sans-serif;
    color:rgb(8, 9, 16);
    letter-spacing: 2.8px;
    font-size:2.4rem;
}
nav a{
    text-decoration: none;
    padding:8px 16px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color:rgb(57, 70, 255);
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap:3px;
    font-weight:600;
    text-transform: uppercase;
    display: none;
    border:solid 2px rgb(57, 70, 255);
}
.material-icons.nav{
    font-size: 1.8rem;
}
nav a:hover{
    background-color: rgb(57, 70, 255);
    color:rgb(255, 255, 255);
}
#content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width:1600px;
}
.userInterface{
    background-color: rgb(57, 70, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:16px 48px;
    gap:16px;
}
.btn{
    background:none;
    border: none;
    font-size:2rem;
    display: flex;
    align-items: center;
    gap:6px;
    color:#ffffff;
    letter-spacing: 0px;
    font-family: 'Work Sans';
    cursor: pointer;
    padding:10px 8px;
    border-radius: 6px;
    transition: all 0.25s;
}
.btn:hover{
    background:rgb(17, 26, 151);
}
.btn:active{
    transform: scale(1.05);
}
.sketchArea{
    background-color:rgb(251, 252, 255);
    padding:30px 0px 60px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
    border-top:1px solid rgb(112,112,112,0.15);
}
.sketchArea h2{
    font-size: 1.6rem;
    text-align: center;
    color: rgb(8, 9, 16);
    font-family: 'Work Sans';
    font-weight:500;
    
}
#grid{
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    height:280px;
    width:280px;
    box-shadow: 0 0 6px rgba(112,112,112,0.15);
}
footer{
    background-color:rgb(0, 0, 60);
    display: flex;
    justify-content: center;
    gap:20px;
    padding:20px 0px;
    align-items: center;
}
footer p{
    font-family:'Work Sans', sans-serif;
    font-size:1.6rem;
    color: rgb(255,255,255);
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
footer img{
    width:3.5rem;
}
footer a:hover{
    opacity: 0.8;
}
.divBg{
    background:rgb(255,255,255);
}
.divBorder{
    border:1px solid rgba(112, 112, 112, 0.15);
}
@media screen and (min-width:380px) {
    #grid{
        height:320px;
        width:320px;
    }
    
}
@media screen and (min-width:600px) {
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
    .userInterface{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #grid{
        height:500px;
        width:500px;
    }
    nav a{
        display: flex;
    }
}
@media screen and (min-width:1024px){
    nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #content{
        flex-direction: row;
    }
    .userInterface{
        align-items: stretch;
        flex: 0 0 300px;
        flex-direction: column;
        
    }
    .sketchArea{
        flex:1;
    }
}